body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100vh;
}

header{
    background-color: #014c59;
}

header h1 {
    margin: 0;
    padding: 10px;
    color: #c5dfe3;
}

aside {
    background-color: #c5dfe3;
    padding: 5px;
    font-weight: bold;
}

input {
    border-radius: 10px;
}

#submit {
    padding: 5px 10px;
    background-color: #014c59;
    color: #c5dfe3;
    align-self: center;
    font-weight: bold;
}

#submit:hover {
    background-color: #277d8c;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
}

.library {
    display: flex;
    flex-wrap: wrap;
}

.bookBox {
    background-color: #014c59;
    color: #c5dfe3;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
}

.remove, .readBtn {
    background-color: #c5dfe3;
    border-radius: 10px;
    padding: 5px 10px;
    color: #014c59;
    align-self: flex-end;
    font-weight: bold;
}

.readBtn {
    float: right;
}

.remove:hover {
    background-color: #a80b00;
    color: #c5dfe3;
}

.readBtn:hover {
    background-color: #00a884;
    color: #c5dfe3;
}